.header{
    height: 80px;
    background-color: aqua;
    display: flex;
}
.container{
    background-color: yellow;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



