.mainBlock{
    background-color: black;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
}

.contentWrapper{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5c3f5;
}
@media (max-width: 800px){
    .contentWrapper {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.mainText{
    width: 300px;
    background-color: aliceblue;
}

.mainPhoto{
    width: 300px;
    height: 400px;
    background-color: purple;
}